[Unit]
Description=${NAME} Tweetbot

[Service]
Type=forking
Restart=always
ExecStart=${SERVICE_SCRIPT}
ExecReload=${SERVICE_SCRIPT}
ExecStop=${SERVICE_SCRIPT} stop
PIDFile=${PID_FILE}
User=${OWNER}
Group=${OWNER}

[Install]
WantedBy=multi-user.target
